<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BComment">

  <select id ="searchComment" resultType="kh.spring.dto.BCommentDTO">
  		select * from kh.bcomment where board_seq = #{value}
  </select>

  <insert id="insertComment">
  		insert into kh.bcomment values(kh.bcomment_seq.nextval,#{writer},#{contents},sysdate,#{board_seq})
  </insert>
</mapper>