<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BComment">

  <select id ="searchByBoardNum" resultType="kh.spring.dto.CommentDTO">
  		select * from board_comment where board_seq = #{value}
  </select>

  <insert id="insertComment">
  		insert into board_comment values(bcomment_seq.nextval,#{board_num},#{id},0,sysdate,#{contents})
  </insert>
</mapper>