<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BMember">
	<select id="isIdExistMember" resultType="int">
		select count(id) from kh.bmember where id=#{id}
	</select>
	<insert id="signUpMember">
		insert into kh.bmember values(#{id},#{pw},#{name},#{email},#{contact},sysdate)
	</insert>
	<select id="loginMember" resultType="int">
		select count(id) from kh.bmember where id=#{id} and pw=#{pw}
	</select>
</mapper>
  
