<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	
	<insert id="insertBoard">
		insert into kh.board values(kh.board_seq.nextval,#{writer},#{title},#{content},0,sysdate)
	</insert>
	
	<select id="fixBeforeBoard" resultType="kh.spring.dto.BoardDTO">
		select * from kh.board where seq=#{seq}
	</select>
	
	<update id="fixAfterBoard">
		update kh.board set title=#{title},content=#{content} where seq = #{seq}
	</update>
	
</mapper>